@font-face {
    font-family: "Inter";
    src: local("Inter"), url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333;
    --green: #C4F82A;
    --white: #FFF;

    /* Text presets */
    --inter-1: normal 700 24px/150% "Inter", sans-serif;
    --inter-2: normal 400 14px/150% "Inter", sans-serif;
    --inter-2-bold: normal 700 14px/150% "Inter", sans-serif;

    /* Spacing */
    --space-500: 40px;
    --space-300: 24px;
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;
}

body {
    background-color: var(--grey-900);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--space-300);
}

h1 {
    color: var(--white);
    font: var(--inter-1);
}

header {
    margin-bottom: var(--space-300);
}

img {
    width: 88px;
    height: auto;
    border-radius: 999px;
    margin-bottom: var(--space-300);
}

li {
    background-color: var(--grey-700);
    font: var(--inter-2-bold);
    border-radius: 8px;
    margin-top: var(--space-200);
    padding: var(--space-150);
    transition: color 600ms, background-color 600ms;
}

li:first-of-type {
    margin-top: 0;
}

li:hover {
    color: var(--grey-700);
    background-color: var(--green);
}

.location {
    color: var(--green);
    font: var(--inter-2-bold)
}

main {
    background-color: var(--grey-800);
    color: var(--white);
    border-radius: 12px;
    text-align: center;
    letter-spacing: 0;
    padding: var(--space-300);
    min-width: 260px;
    flex: 0 0 327px;
}

p {
    font: var(--inter-2);
    margin-bottom: var(--space-300);
}

ul {
    list-style: none;
}




@media screen and (min-width: 600px) {

    body {
        padding: 0 var(--space-500);
    }

    main {
        padding: var(--space-500);
        flex: 0 0 456px;
    }

}

@media screen and (min-width: 992px) {

    body {
        padding: 0;
    }

    main {
        flex: 0 0 384px;
    }

}
